// Header Pages for Blog and Contact
.headerPages {
    min-height: 200px;
}

h2 {
    margin-bottom: -85px;
}

.pageBackground {
    @include flexItemsAlign(flex-end);
}

.pageBackground {
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 350px;
    background-position: center center;
    padding-bottom: 50px;
}