// Blog Page 

.blogBackground {
    background: url(./assets/blog-image-1.jpg);
}

.mainBackground {
    background-color: $whiteShade;
    padding: 100px 0;
}

.aboutMain {
    @include flexItemsJustify(space-between);
    p {
        margin: 15px 0 0 0;
    }
}

.aboutMain h5 {
    margin-top: 30px;
}

.mainBackground aside, .mainBackground article, .commentSection li {
    background-color: white;
    padding: 30px;
}

// Aside notes

.asideNotes aside:last-child {
    padding-top: 10px;
}

.asideNotes {
    width: 30%;
    a {
        background-color: transparent;
        padding: 2px;
        border: none;
        @include robRegFont();
        text-transform: none;
    }
}

.rightSection {
    width: calc(70% - 40px);
}

.highlight {
    color: $darkGreyBlue;
}

.asideNotes aside:nth-child(2) {
    margin-top: 30px;
}

// Aside list

.asideAbout ul {
    padding: 20px 0 10px 10px;
}

.asideAbout li::before {
    content: "\2022";  
    color: $orangeyYellow; 
    font-weight: bold; 
    display: inline-block; 
    width: 2rem; 
}

// Main section

.rightSection h4 {
    margin-bottom: 20px;
}

time, .rightSection .highlight, .italic {
    font-style: italic;
}

.rightSection .highlight {
    font-weight: 700;
}

article, .commentSection {
    border-bottom: $orangeyYellow 5px solid;
}

.commentSection {
    margin: 40px 0;
    li {
        @include flexItemsJustify(space-between);
    }
}

.commentSection li:nth-child(2 ){
    margin-top: 20px;
}

.commentSection .comments {
    width: calc(85% - 10px);
}

.comments p:first-child {
    margin-top: 0;
}

// Copyright about section

.aboutFooter .copyright {
    margin-top: 0;
}

