// Colors
$black: #2c2c2c;
$darkGreyBlue: #285e64;
$orangeyYellow: #f6a823;
// $grey: #4f4f4f;
$accent: #05afc1;
$rustRed: #a82706;
$whiteShade: #f0efed;


// Fonts
@mixin loraFont($fontSizeLora){
    font-family: 'Lora', serif;
    font-size: $fontSizeLora;
    letter-spacing: 0px;
    color: $black;
    line-height: 9.2rem;
    text-transform: uppercase;
}

@mixin robRegFont(){
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    letter-spacing: 0px;
    color: $black;
    line-height: 3.2rem;
}

@mixin robFont($fontSize, $color){
    font-family: 'Roboto', sans-serif;
    font-size: $fontSize;
    letter-spacing: 1px;
    color: $color;
    font-weight: 700;
    text-transform: uppercase;
}

// Flexbox mixin
@mixin flexItemsAlign($align: center) {
    display: flex;
    align-items: $align;
}

@mixin flexItemsJustify($justify: flex-start) {
    display: flex;
    justify-content: $justify;
}


// General selectors
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

body {
    @include robRegFont();
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

figure {
    margin: 0;
}

a, button {
    background: $accent;
    line-height: 3.2rem;
}

a:hover, a:focus, button:hover, button:focus, input:hover, input:focus, textarea:hover, textarea:focus {
    background: $black;
    border: 3px $accent solid; 
    color: $whiteShade;
}

a, button, .spanNav {
    @include robFont(2rem, $black);
    text-decoration: none;
    padding: 10px 30px;
    border: 3px transparent solid; 
}

ul {
    list-style: none;
}

p {
    margin: 30px 0 40px;
}

h1 {
    @include loraFont(14rem);
    margin: 250px 0 0 50px;
}

h2 {
    @include loraFont(8rem);
}

h3 {
    @include robFont(4.2rem, $black);
}

h4 {
    @include robFont(3.2rem, $black);
}

h5 {
    @include robFont(2.4rem, $black);
}

// NAV active page {
.activeNav {
    color: $whiteShade;
}

