/* Header background */

header {
    background-color: $orangeyYellow;
}

.mainHeader {
    min-height: 750px;
    height: 100vh;
}

// h1 and images
.h1AndImages {
    position: relative;
}

.aboutImg {
    position: absolute;
    top: -100%;
}

.mainImg {
    position: absolute;
    top: -250%;
    right: 0;
    box-shadow: 20px 20px white;
}

