// Media queries
@media (max-width: 1266px) {
    // Header
    .mainHeader {
        min-height: 560px;
    }

    .mainImg {
        width: 40%;
        margin-top: 10px;
    }

    h1 {
        font-size: 13rem;
    }

    .aboutImg {
        top: 19%;
    }

    // Section 1
    h4 {
        font-size: 2.9rem;
    }

    .textPad2 {
        margin-right: 5%;
    }

    .textPad3 {
        margin-left: 5%;
    }

    main {
        overflow: hidden;
    }
}

@media (max-width: 1035px) {
    // Header
    .mainHeader {
        min-height: 500px;
    }

    h1 {
        font-size: 11rem;
    }

    .aboutImg {
        top: 16%;
    }

    // Section 1

    h4 {
        font-size: 2.8rem;
    }

    .textPad2 {
        padding-left: 30px;
    }

    .textPad3 {
        padding-right: 50px;
    }
}

@media (max-width: 850px) {
    // Header

    .h1AndImages {
        margin-top: 50px;
    }

    h1 {
        font-size: 10rem;
        margin-top: -20px;
    }

    .aboutImg {
        top: 18%;
    }

    nav a {
        padding: 20px;
    }

    // Section 1

    h3 {
        font-size: 3.5rem;
    }

    .about1 {
        min-height: 400px;
        padding: 70px 0 150px;
    }

    .about2, .about3 {
        display: block;
    }

    .blogImg {
        width: 100%;
    }

    .text {
        max-width: 1140px;
        width: 90%;
        margin: 10px auto;
        padding: 0;
    }

    .textPad3 {
        margin-bottom: 50px;
    }

    // Section 2
    .section2 {
        margin-top: 0;
    }

    .firstGroup {
        padding: 20px 0;
    }

    .section2 a {
        width: calc(50% - 5px);
    }
}

@media (max-width: 730px) {
    // Header
    header {
        padding-top: 30px;
    }

    .mainHeader {
        height: 65vh;
    }

    h1 {
        font-size: 7rem;
    }

    .aboutImg {
        width: 25%;
        top: 20%;
    }

    .spanNav {
        display: none;
    }

    // Section 1 part 3

    .imgTwo {
        margin: 20px calc(50% - 570px) -20px 20px;
    }

    // Section 2

    .firstGroup {
        display: block;
        a {
            width: 100%;
            p {
                margin-top: 10px;
            }
        }
    }

    .secondGroup {
        display: block;
        margin-top: 0;
        @include flexItemsJustify(flex-end);
        flex-direction: column;
        align-items: flex-end;
        div {
            width: 100%;
            padding: 20px 0 30px;
        }
    }

    .secondGroup figure {
        margin: -100px 0 10px;
    }

    .imageCenter {
        max-width: 180%;
    }

    // Section 3
    .photos {
        margin: 30px auto 0;
        figure {
            @include flexItemsAlign(center);
            justify-content: space-between;
            flex-direction: column;
            img {
                max-width: 100%;
                margin: 10px 0;
            }
        }
    }

    // Footer
    .copyright a {
        font-size: 1.8rem;
    }
}
@media (max-width: 570px) {

    /* Navigation menu */

    .mobileMenu {
        @include flexItemsJustify();
        button {
            color: $black;
            display: block;
            border: none;
            background: none;
            padding: 5px 100px 5px 20px;
            border: 3px solid transparent;
            i {
                font-size: 4rem;
            }
        }
    }

    .mobileMenu li {
        position: relative;
        a {
            display: inline-block;
            padding-top: 10px;
            padding-bottom: 10px;
            color: $whiteShade;
        }
    }

    .mobileMenu button:focus-within {
        background-color: $black;
        border: 3px $whiteShade solid;
        i {
            color: $whiteShade;
        }
    }

    ul.mobileSubMenu {
        background: $black;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        margin: 0;
        padding: 0;
    }

    .mobileMenu li:focus-within ul.mobileSubMenu {
        display: block;
    }

    .mobileSubMenu li {
        display: block;
        margin: 0;
        border: 3px solid $whiteShade;
    }

    ul.mobileSubMenu li a {
        width: 100%;
        margin: 0;
    }

    .mobileSubMenu li:focus-within a {
        color: $orangeyYellow;
    }

    .mobileSubMenu .activeNav {
        color: $accent;
    }

    .mobileMenu li:focus-within .middleList {
        display: none;
    }

    .mobileMenu li:focus-within li:nth-child(2), .mobileMenu li:focus-within li:nth-child(5)  {
        border-top: none;
    }

    .mobileMenu li:focus-within li:nth-child(2) {
        border-bottom: none;
    }

    // Header
    .mainHeader {
        min-height: 650px;
    }

    h1 {
        margin: 50px 0 0;
    }

    // Text & images

    .h1AndImages {
        flex-direction: column;
        flex-flow: column-reverse;
        margin: 0;
        .mainImg {
            width: 60%;
            margin: 0;
        }
    }

    .aboutImg {
        top: 79%;
        left: 15%;
    }
}

@media (max-width: 470px) {
    .aboutImg {
        top: 76%;
        left: 5%;
        width: 30%;
    }

    .imageCenter {
        max-width: 250%;
    }
}