// Header navigation 

// NAV active page 
.activeNav {
    color: $whiteShade;
}

.mobileMenu button {
    display: none;
}

nav ul {
    @include flexItemsAlign(center);
    justify-content: center;
    li {
        margin: 0px 3px;
        a {
            line-height: 2.9rem;
            background: none;
        }
    }
}

.spanNav {
    @include loraFont(4rem);
}

