/* Header navigation */

nav ul {
    @include flexItemsAlign(center);
    justify-content: center;
    li {
        margin: 0px 3px;
        a {
            line-height: 2.9rem;
            background: none;
        }
    }
}


.headerNavigation span, .section2 span {
    // text-decoration: underline #ffb100 2px;
    // text-underline-offset: 1rem;
}

.spanNav {
    @include loraFont(4rem);
}

// Form pievienot active: state !!!!! pie focus