// Section 1
// First paragraph

.about1 {
    @include flexItemsAlign();
    background-color: $whiteShade;
    min-height: 500px;
}

// Second and Third paragraph

.about2, .about3 {
    min-height: 400px;
}

.about2{
    @include flexItemsAlign(flex-end);
    margin-top: -65px;
}

.about3{
    @include flexItemsAlign(flex-start);
    margin-top: 65px;
}

.text, .blogImg {
    width: 50%;
}

.text {
    max-width: 570px;
}

.textPad2 {
    padding-left: 75px;
    margin-right: calc(50% - 570px);
    padding-bottom: 10px;
}

.textPad3 {
    padding-right: 95px;
    margin-left: calc(50% - 570px);
    text-align: right;
    margin-top: -20px;
}

.blogImgOne {
    @include flexItemsJustify(flex-end);
    background-color: $rustRed;
}

.blogImgTwo {
    @include flexItemsJustify();
    background-color: $orangeyYellow;
}

.imgOne, .imgTwo {
    max-width: 570px;
}

.imgOne {
    margin: -20px 20px 20px calc(50% - 570px);
}

.imgTwo {
    margin: -20px calc(50% - 570px) 20px -20px;
}