html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  letter-spacing: 0px;
  color: #2c2c2c;
  line-height: 3.2rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

figure {
  margin: 0;
}

a, button {
  background: #05afc1;
  line-height: 3.2rem;
}

a:hover, a:focus, button:hover, button:focus, input:hover, input:focus, textarea:hover, textarea:focus {
  background: #2c2c2c;
  border: 3px #05afc1 solid;
  color: #f0efed;
}

a, button, .spanNav {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #2c2c2c;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 30px;
  border: 3px transparent solid;
}

ul {
  list-style: none;
}

p {
  margin: 30px 0 40px;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 14rem;
  letter-spacing: 0px;
  color: #2c2c2c;
  line-height: 9.2rem;
  text-transform: uppercase;
  margin: -100px 10px 0 50px;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 8rem;
  letter-spacing: 0px;
  color: #2c2c2c;
  line-height: 9.2rem;
  text-transform: uppercase;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.2rem;
  letter-spacing: 1px;
  color: #2c2c2c;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.2rem;
  letter-spacing: 1px;
  color: #2c2c2c;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #2c2c2c;
  font-weight: 700;
  text-transform: uppercase;
}

.activeNav {
  color: #f0efed;
}

.mobileMenu button {
  display: none;
}

/* Header navigation */
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul li {
  margin: 0px 3px;
}

nav ul li a {
  line-height: 2.9rem;
  background: none;
}

.spanNav {
  font-family: 'Lora', serif;
  font-size: 4rem;
  letter-spacing: 0px;
  color: #2c2c2c;
  line-height: 9.2rem;
  text-transform: uppercase;
}

/* Main Header background */
header {
  background-color: #f6a823;
}

.mainHeader {
  min-height: 650px;
  height: 100vh;
}

.h1AndImages {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainImg {
  margin-top: 30px;
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
}

.aboutImg {
  position: absolute;
  top: 25%;
}

.about1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0efed;
  min-height: 500px;
}

.about2, .about3 {
  min-height: 400px;
}

.about2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -65px;
}

.about3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 65px;
}

.text, .blogImg {
  width: 50%;
}

.text {
  max-width: 570px;
}

.textPad2 {
  padding-left: 75px;
  margin-right: calc(50% - 570px);
  padding-bottom: 10px;
}

.textPad3 {
  padding-right: 95px;
  margin-left: calc(50% - 570px);
  text-align: right;
  margin-top: -20px;
}

.blogImgOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #a82706;
}

.blogImgTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #f6a823;
}

.imgOne, .imgTwo {
  max-width: 570px;
}

.imgOne {
  margin: -20px 20px 20px calc(50% - 570px);
}

.imgTwo {
  margin: -20px calc(50% - 570px) 20px -20px;
}

.section2 {
  background-color: #f0efed;
  margin-top: -80px;
}

.firstGroup a {
  background: none;
  display: block;
  width: calc(50% - 20px);
  padding: 0;
  padding: 20px 3px;
  margin-top: 5px;
}

.firstGroup a:hover, .firstGroup a:focus {
  background: #2c2c2c;
}

.firstGroup a:hover p, .firstGroup a:focus p {
  color: #f0efed;
}

.firstGroup a:hover h5, .firstGroup a:focus h5 {
  color: #f0efed;
}

.firstGroup a:hover .iconStyle, .firstGroup a:focus .iconStyle {
  background-color: #285e64;
}

.firstGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 130px 0 90px 0;
}

.firstGroup p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  letter-spacing: 0px;
  color: #2c2c2c;
  line-height: 3.2rem;
  text-transform: none;
  font-weight: 400;
  margin: 20px 0 0 0;
}

.iconInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.iconStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6a823;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
}

.iconText {
  width: 90%;
  margin: 10px 0 0 20px;
}

.imageCenter {
  margin: 0 auto;
}

.secondGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 100px;
}

.secondGroup div {
  width: 70%;
  padding: 0 0 110px 50px;
}

.secondGroup figure img {
  -webkit-box-shadow: 20px 20px #f6a823;
          box-shadow: 20px 20px #f6a823;
}

.photos {
  margin-top: 100px;
}

.photos figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photos figure img {
  max-width: 32%;
}

.copyright {
  background-color: #2c2c2c;
  text-align: center;
  padding: 10px 0;
  margin-top: 100px;
}

.copyright a {
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #f6f6f6;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: normal;
  text-transform: none;
  background-color: transparent;
  border: transparent;
}

.copyright a:hover, .copyright a:focus {
  color: #f6a823;
}

.blogBackground {
  background: url(./assets/blog-image-1.jpg);
}

.mainBackground {
  background-color: #f0efed;
  padding: 100px 0;
}

.aboutMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutMain p {
  margin: 15px 0 0 0;
}

.aboutMain h5 {
  margin-top: 30px;
}

.mainBackground aside, .mainBackground article, .commentSection li {
  background-color: white;
  padding: 30px;
}

.asideNotes aside:last-child {
  padding-top: 10px;
}

.asideNotes {
  width: 30%;
}

.asideNotes a {
  background-color: transparent;
  padding: 2px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  letter-spacing: 0px;
  color: #2c2c2c;
  line-height: 3.2rem;
  text-transform: none;
}

.aboutSection {
  width: calc(70% - 40px);
}

.highlight {
  color: #285e64;
}

.asideNotes aside:nth-child(2) {
  margin-top: 30px;
}

.asideAbout ul {
  padding: 20px 0 10px 10px;
}

.asideAbout li::before {
  content: "\2022";
  color: #f6a823;
  font-weight: bold;
  display: inline-block;
  width: 2rem;
}

.aboutSection h4 {
  margin-bottom: 20px;
}

time, .aboutSection .highlight, .italic {
  font-style: italic;
}

.aboutSection .highlight {
  font-weight: 700;
}

article, .commentSection {
  border-bottom: #f6a823 5px solid;
}

.commentSection {
  margin: 40px 0;
}

.commentSection li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.commentSection li:nth-child(2) {
  margin-top: 20px;
}

.commentSection .comments {
  width: calc(85% - 10px);
}

.comments p:first-child {
  margin-top: 0;
}

.aboutFooter .copyright {
  margin-top: 0;
}

/* Form */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

input, textarea {
  padding: 30px 40px;
  background: white;
  border: none;
  border: 3px transparent solid;
}

textarea {
  height: 350px;
  resize: none;
  width: 100%;
  padding-top: 50px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 0.7;
  font-style: italic;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 0.7;
  font-style: italic;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 0.7;
  font-style: italic;
}

input::placeholder, textarea::placeholder {
  opacity: 0.7;
  font-style: italic;
}

input[type="email"], input[type="text"] {
  margin-bottom: 20px;
  width: calc(50% - 10px);
}

.submit {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 12px 40px;
}

.contactBackground {
  background: url(./assets/contact-image-1.jpg);
}

.contact h5 {
  text-transform: none;
  margin-top: 10px;
}

.contact span {
  display: block;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 30px 0 0 -18px;
}

.contact aside li {
  padding: 2.5px;
}

.contact aside li a {
  padding: 20px 18px 10px;
}

.contact i {
  font-size: 2.5rem;
  color: #f6a823;
}

.contact a:hover i, .contact a:focus i {
  color: #285e64;
}

.contact a:hover, .contact a:focus {
  border-bottom: #285e64 3px solid;
}

.headerPages {
  min-height: 200px;
}

h2 {
  margin-bottom: -85px;
}

.pageBackground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pageBackground {
  background-size: auto;
  background-repeat: no-repeat;
  min-height: 350px;
  background-position: center center;
  padding-bottom: 50px;
}

@media (max-width: 1266px) {
  .mainHeader {
    min-height: 560px;
  }
  .mainImg {
    width: 40%;
    margin-top: 10px;
  }
  h1 {
    font-size: 13rem;
  }
  .aboutImg {
    top: 19%;
  }
  h4 {
    font-size: 2.9rem;
  }
  .textPad2 {
    margin-right: 5%;
  }
  .textPad3 {
    margin-left: 5%;
  }
  main {
    overflow: hidden;
  }
}

@media (max-width: 1035px) {
  .mainHeader {
    min-height: 500px;
  }
  h1 {
    font-size: 11rem;
  }
  .aboutImg {
    top: 16%;
  }
  h4 {
    font-size: 2.8rem;
  }
  .textPad2 {
    padding-left: 30px;
  }
  .textPad3 {
    padding-right: 50px;
  }
  .aboutMain {
    display: block;
  }
  .asideNotes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
  }
  .asideNotes .asideAbout {
    width: calc(50% - 15px);
  }
  .asideNotes aside:nth-child(2) {
    margin-top: 0;
  }
  aside img {
    margin: 0 auto;
    width: 60%;
  }
  .aboutSection {
    width: 100%;
  }
  .contact aside {
    width: 100%;
  }
  input[type="email"], input[type="text"] {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .h1AndImages {
    margin-top: 50px;
  }
  h1 {
    font-size: 10rem;
    margin-top: -20px;
  }
  .aboutImg {
    top: 18%;
  }
  nav a {
    padding: 20px;
  }
  h3 {
    font-size: 3.5rem;
  }
  .about1 {
    min-height: 400px;
    padding: 70px 0 150px;
  }
  .about2, .about3 {
    display: block;
  }
  .blogImg {
    width: 100%;
  }
  .text {
    max-width: 1140px;
    width: 90%;
    margin: 10px auto;
    padding: 0;
  }
  .textPad3 {
    margin-bottom: 50px;
  }
  .section2 {
    margin-top: 0;
  }
  .firstGroup {
    padding: 20px 0;
  }
  .section2 a {
    width: calc(50% - 5px);
  }
  .blogBackground {
    background-size: cover;
    background-position: 70%;
  }
}

@media (max-width: 730px) {
  header {
    padding-top: 30px;
  }
  .mainHeader {
    height: 65vh;
  }
  h1 {
    font-size: 7rem;
  }
  .aboutImg {
    width: 25%;
    top: 20%;
  }
  .spanNav {
    display: none;
  }
  .imgTwo {
    margin: 20px calc(50% - 570px) -20px 20px;
  }
  .firstGroup {
    display: block;
  }
  .firstGroup a {
    width: 100%;
  }
  .firstGroup a p {
    margin-top: 10px;
  }
  .secondGroup {
    display: block;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .secondGroup div {
    width: 100%;
    padding: 20px 0 30px;
  }
  .secondGroup figure {
    margin: -100px 0 10px;
  }
  .resizeImg {
    max-width: 180%;
  }
  .photos {
    margin: 30px auto 0;
  }
  .photos figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photos figure img {
    max-width: 100%;
    margin: 10px 0;
  }
  .copyright a {
    font-size: 1.8rem;
  }
  .pageBackground {
    margin-top: 25px;
  }
  .asideNotes {
    display: block;
  }
  .asideNotes .asideAbout {
    width: 100%;
    margin-bottom: 30px;
  }
  .commentSection li {
    display: block;
  }
  .commentSection .comments {
    width: 100%;
  }
}

@media (max-width: 570px) {
  /* Navigation menu */
  .mobileMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .mobileMenu button {
    color: #2c2c2c;
    display: block;
    border: none;
    background: none;
    padding: 5px 100px 5px 20px;
    border: 3px solid transparent;
  }
  .mobileMenu button i {
    font-size: 4rem;
  }
  .mobileMenu li {
    position: relative;
  }
  .mobileMenu li a {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f0efed;
  }
  .mobileMenu button:focus-within {
    background-color: #2c2c2c;
    border: 3px #f0efed solid;
  }
  .mobileMenu button:focus-within i {
    color: #f0efed;
  }
  ul.mobileSubMenu {
    background: #2c2c2c;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  .mobileMenu li:focus-within ul.mobileSubMenu {
    display: block;
    z-index: 2;
  }
  .mobileSubMenu li {
    display: block;
    margin: 0;
    border: 3px solid #f0efed;
  }
  ul.mobileSubMenu li a {
    width: 100%;
    margin: 0;
  }
  .mobileSubMenu li:focus-within a {
    color: #f6a823;
  }
  .mobileSubMenu .activeNav {
    color: #05afc1;
  }
  .mobileMenu li:focus-within .middleList {
    display: none;
  }
  .mobileMenu li:focus-within li:nth-child(2), .mobileMenu li:focus-within li:nth-child(5) {
    border-top: none;
  }
  .mobileMenu li:focus-within li:nth-child(2) {
    border-bottom: none;
  }
  .mainHeader {
    min-height: 650px;
  }
  h1 {
    margin: 50px 0 0;
  }
  .h1AndImages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
    margin: 0;
  }
  .h1AndImages .mainImg {
    width: 60%;
    margin: 0;
  }
  .aboutImg {
    top: 79%;
    left: 15%;
  }
}

@media (max-width: 470px) {
  .aboutImg {
    top: 76%;
    left: 5%;
    width: 30%;
  }
  .resizeImg {
    max-width: 250%;
  }
}
